$basic-width:               1000px;
$map-width:                 600px;
$map-height:                1000px;
$municipality-graph-width:  410px;
$municipality-graph-height: 400px;
$theme-color:               #A56804;
$theme-color-light:         #AD731A;



header {
  width: $basic-width;
  height: 90px;
  margin: 30px auto;

  > .title {
    padding: 13px 0px;
    text-align: center;

    img {
      width: 100%;
      height: 62px;
    }
  }
}

body {
  background-color: #DFD8C8;
  font-family: 'Malgun Gothic', Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

#main {
  min-height: 550px;
}

#main-menu {
  width: $basic-width;
  margin: 0 auto;

  li {
    width: $basic-width/2;
    text-align: center;
    border-bottom: 5px solid #AFA590;

    img {
      width: 40px;
      height: 40px;

    }
  }

  li.active {
    border-bottom: 5px solid $theme-color;
  }
}

#searchform {
  text-align: center;
  margin-top: 50px;

  > .search-area {

    > input {
      width: 780px;
      height: 92px;
      margin: 0 auto;
      font-size: 3.4rem;
    }
  }
}

.autocomplete-suggestions { background: #FFF; overflow: auto; }
.autocomplete-suggestion { font-size: 3.0rem; padding: 25px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-suggestion:hover { cursor: pointer;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: $theme-color; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

#provinces, #municipalities {
  width: $basic-width;
  margin: 0 auto;
  height: $map-height;
  position: relative;
}

#municipalities {
  height: $map-height/1.3;
}

.map {

  svg {
    position: absolute;
    left: 0;

    .province:hover {
      fill: $theme-color;
    }

    .province.province-selected {
      fill: $theme-color;
    }

  }
}

.share-buttons {
  width: $municipality-graph-width;
  position: absolute;
  top: 880px;
  right: 0px;

  > .fb-like {
    margin-bottom: 6px;
  }
}


.graph {
  font-family: 'malgun gothic';
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 50px 0px;
  display: inline-block;

  .graph-description {
    padding: 13px;
    background-color: white;

    > h3 {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -2px;
    }

    > p {
      color: #6E6E6E;
      letter-spacing: -1.5px;
    }

    > hr {
      color: #F4F4F4;
    }
  }


  .graph-region {
    font-size: 17px;
  }

  > ul.nav.nav-tabs {
    width: $municipality-graph-width;

    > li {
      z-index: 15;
      color: black;
      background-color: white;
      border-radius: 25px;
      border: 1px solid #E3E3E3;

      > a {
        color: black;
      }
    }

    > li.active {
      display: none;
      z-index: none;
    }

    > li:first-child {
      position: absolute;
      top: 290px;
      left: -25px;
    }

    > li:first-child:hover {
      cursor: pointer;
    }

    > li:last-child {
      position: absolute;
      top: 290px;
      right: -25px;
    }
  }

  .link-to-maingraph {
    position: absolute;
    bottom: 70px;
    height: 80px;
    width: $municipality-graph-width;
    background-color: #6794B7;
    color: white;
    font-size: 27px;
    padding: 22px;
    text-align: center;
  }

  .link-to-maingraph:hover {
    cursor: pointer;
  }

  .subgraph-info {
    position: absolute;
    width: $municipality-graph-width;
    height: 130px;
    bottom: -40px;
    background-color: #F0F0F0;
    color: #555555;

    .icon {
      text-align: center;
      display: inline-block;
      float: left;
      padding-top: 6px;
      padding-left: 13px;

      > img {
        margin-top: 18px;
      }
    }

    .description {
      display: inline-block;
      float: left;
      width: $municipality-graph-width * 5/6;
      font-size: 1.5rem;
      padding: 19px 10px;
      line-height: 20px;

      > span {
        font-weight: bold;
      }

      > p {
        font-size: 1.2rem;
        line-height: 17px;
      }
    }
  }

  .bar {
    fill: #ddad51;
    cursor: pointer;
  }

  .bar-positive {
    fill: $theme-color;
  }

  .bar-negative {
    fill: #C3C3C4;
  }

  .bar-additional {
    fill: $theme-color-light;
  }

  .bar-highlight {
    cursor: pointer;
    fill: #C3C3C4;
  }

  path.line {
    fill: none;
    stroke: $theme-color;
    shape-rendering: crispEdges;
  }

  path.domain {
    fill: none;
    shape-rendering: crispEdges;
  }

  line.xAxis {
    stroke: #C3C3C4;
  }

  #municipal-debt, #municipal-effort {
    position: relative;
    height: $municipality-graph-height + 300px;

    .subgraph, .subgraph-loading {
      position: absolute;
      background-color: white;
      width: $municipality-graph-width;
      height: 550px;
    }

    .subgraph { z-index: 11; }
    .subgraph-loading {
      z-index: 12;
      text-align: center;

      > img.pin {
        margin-top: 220px;
        margin-bottom: 20px;
      }
    }

    .subgraph-title {
      width: 100%;
      text-align: center;
      letter-spacing: -1px;
    }

    > svg {
      background-color: white;
    }
  }

  #municipal-debt {

    .bar:hover {
      fill: $theme-color-light;
    }

    .subgraph {
      height: 510px;
    }
  }

  #municipal-effort {
    .subgraph {
      height: 550px;
    }

    .subgraph-info {
      height: 140px;
      bottom: 0px;
    }

    .selectedEffortBar {
      opacity: 0.3;
      visibility: hidden;
    }

    .effort-title {
      font-size: 1.1rem;
    }

    .effort-value {
      font-size: 1.1rem;
    }
  }

}


#main-municipality {
  background-color: #6593B8;

  .title {
    color: white;
    font-size: 3.7rem;
    width: $basic-width;
    height: 130px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0px;

    > span {
      font-weight: bold;
    }
  }

  > section {
    width: $basic-width;
    margin: 0 auto;
    text-align: center;

    > ul {
      > li {
        width: $basic-width/2;
        color: #3F6E95;
        border-bottom: 5px solid #3F6E95;

        > a {
          font-size: 1.8rem;
          letter-spacing: -0.5px;
          color: #3F6E95;
        }
      }

      > li.active {
        border-bottom: 5px solid white;

        > a {
          color: white;
        }
      }
    }
  }

  .main-graph-fixed {
    position: relative;
    height: 500px;

    .graph-region {
      display: none;
    }

    .main-description {
      width: $basic-width;
      height: 50px;
      font-size: 1.5rem;
      color: white;
      background-color: #6189A8;
      position: absolute;
      bottom: 60px;
      margin: 0 auto;
      padding: 15px 0px;
      opacity: 0.7;

      > span {
        font-weight: bold;
      }
    }

    > svg {
      background-color: #6593B8;

      .bar {
        fill: #37658A;
      }

      .bar:hover {
        fill: #E3DDCF;
        cursor: pointer;
      }

      .bar-value, .bar-year {
        fill: #EFF4F7;
      }

      .axis text {
        fill: #37658A;
      }

      path.domain {
        fill: none;
        shape-rendering: crispEdges;
      }
    }
  }
}

#debt .main-graph-fixed {
  line.xAxis {
    stroke: #37658A;
  }
}

#effort .main-graph-fixed {
  .bar.bar-positive {
    fill: #E3DDCF;
  }

  .bar.bar-positive:hover {
    fill: #37658A;
  }

  .bar.bar-negative {
    fill: #37658A;
  }

  text {
    fill: #EFF4F7;
    font-size: 1.3rem;
  }

  text.effort-title {
    fill: #37658A;
    font-size: 1.3rem;
  }

  .main-description {
    height: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .selectedEffortBar {
    background-color: #7DA3C2;
    opacity: 0.3;
    visibility: hidden;
  }
}

footer {
  background-color: #656468;
  height: 230px;
  color: #cbcbcb;

  > section.footer {
    width: $basic-width;
    margin: 0 auto;

    > div.footer-col {
      width: 250px;
      display: inline-block;
      float: left;

      > h4 {
        font-family: 'open sans';
        font-weight: bold;
        font-size: 1.6rem;
        color: #efefef;
      }

      a, a:hover {
        color: #cbcbcb;
      }
    }
  }

  > section.footer-desc {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}


//
// Cutomized Bootstrap Components
//

.nav-tabs > li > a:hover {
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: transparent;
  border-color: transparent;
  outline: 0px;
  outline-offset: 0px;
}

.form-control:focus {
  border-color: $theme-color;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px RGBA(165, 104, 4, 0.6);
}
