<footer>
  <section class="footer footer-desc">
    <p>
      우리지역 채무탈출은 지방 재정에 관심을 가지고, 지방 재정의 위기를 알리기 위한 프로젝트입니다.
    </p>
  </section>
  <section class="footer footer-cols">
    <div class="footer-col">
      <h4>SUPPORT</h4>
      <p>
        <a href="http://codenamu.org" target="_blank">코드나무</a><br>
        <a href="http://slowalk.co.kr" target="_blank">슬로워크</a>
      </p>
    </div>
    <div class="footer-col">
      <h4>DATA</h4>
      <p>
        <a href="http://lofin.mogaha.go.kr" target="_blank">재정고</a><br>
        - 지방 재정 통합 공시<br>
        - 2014년 재정 분석 종합 보고서
      </p>
    </div>
    <div class="footer-col">
      <h4>LINK</h4>
      <p>
        <a href="http://transparency.codenamu.org">2015 투명성 프로젝트</a><br>
        소스코드<br>
        - <a href="https://github.com/codeforseoul/getoutofdebt.kr">홈페이지</a><br>
        - <a href="https://github.com/codeforseoul/getoutofdebt.kr-scraper">데이터 스크래핑</a><br>

      </p>
    </div>
    <div class="footer-col">
      <h4>LICENSE</h4>
      <p>
        데이터: CC0<br>
        소스코드: MIT License
      </p>
    </div>
  </section>
</footer>
