<header>
  <div class="title col-md-6">
    <a href="/"><img src="/img/logo.png" alt="" /> </a>
  </div>
  <div class="decription col-md-6">
    <h5><strong>우리 지역의 채무는 얼마나 될까? 채무를 줄이기 위해 얼마나 노력을 할까?</strong></h5>
    <p>우리 지역 채무 탈출 프로젝트는 지방 정부의 채무는 얼마나 되는지, 이렇게 쌓인 채무를 줄이기 위해 얼마나 노력을 하고 있는지 분석해보는 시각화 프로젝트입니다.</p>
  </div>
</header>
