<header>
  <div class="title col-md-6">
    <h1><a href="/">우리지역 채무탈출!</a></h1>
  </div>
  <div class="decription col-md-6">
    <h5>우리 지역의 채무를 줄이기 위해 얼마나 노력을 할까?</h5>
    <p>내가 사는 지역은 어떤 항목에 예산을 쓰고, 채무를 줄이기 위해 얼마나 노력을 할까요?</p>
  </div>
</header>
