<section id="municipalities" class="row">
  <section class="map container">
  </section>
  <section class="graph">
    <ul class="nav nav-tabs" role="menulist">
      <li role="menu" class="active"><a href="#municipal-debt" aria-controls="municipal-debt" role="tab" data-toggle="tab"><</a></li>
      <li role="menu" class="active"><a href="#municipal-effort" aria-controls="municipal-effort" role="tab" data-toggle="tab">></a></li>
    </ul>
      <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="municipal-debt">
        <div class="subgraph-loading">
          <img class="pin" src='/img/pin.png'>
          <p>
            지도 위 지역을 선택해주세요.
          </p>
        </div>
        <div class="subgraph">
          <div class="subgraph-title">
            <h3 style="font-size: 2.3rem;">2009년 이후 시/군/구 별 채무 현황</h3>
          </div>
          <div class="subgraph-info">
            <div class="icon">
              <img src="/img/subgraph-description.png" alt="">
            </div>
            <div class="description">
              그래프에 마우스를 올리면 더 자세한 정보를 볼 수 있습니다.
            </div>
          </div>
        </div>
        <div class="link-to-maingraph"></div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="municipal-effort">
        <div class="subgraph">
          <div class="subgraph-title">
            <h3 style="font-size: 2.1rem;">채무를 줄이기 위해 얼마나 노력을 할까?</h3>
            <p>2013년</p>
          </div>
          <div class="subgraph-info">
            <div class="icon">
              <img src="/img/subgraph-description.png" alt="">
            </div>
            <div class="description">
              그래프에 마우스를 올리면 더 자세한 정보를 볼 수 있습니다.
            </div>
          </div>
        </div>
        <div class="link-to-maingraph"></div>
      </div>
    </div>
  </section>
<!--   <section class="share-buttons">
    <div class="fb-like" data-href="http://getoutofdebt.kr/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://getoutofdebt.kr" data-text="우리지역 채무탈출! 내가 사는 지역의 채무는 얼마나 될까요?" data-via="codenamu" data-hashtags="2015-transparency" data-dnt="true">Tweet</a>
  </section> -->
</section>

<section id="main-municipality" class="row">
  <div class="title">

  </div>
  <section>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="menulist">
      <li role="menu" class="active"><a href="#debt" aria-controls="debt" role="tab" data-toggle="tab">채무는 얼만큼 변화했을까?</a></li>
      <li role="menu"><a href="#effort" aria-controls="effort" role="tab" data-toggle="tab">채무를 줄이기 위해 얼마나 노력을 했을까?</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="maingraph-fixed tab-pane fade in active" id="debt">
        <section class="main-graph-fixed">
          <div class="main-description"></div>
        </section>
      </div>
      <div role="tabpanel" class="maingraph-fixed tab-pane fade" id="effort">
        <section class="main-graph-fixed">
          <div class="main-description"></div>
        </section>
      </div>
    </div>
  </section>
</section>
<script>
// Parameters
  var data = <%- JSON.stringify(gov) %>;
  var enterprise = <%- JSON.stringify(enterprise) %>;
  var provinceId = <%- id %>;
  var effortList = [
    {
      'id': 7,
      'title': '지방세 징수율 제고 노력도',
      'desc': '지방세 징수율의 연도간(또는 중.장기 추세) 변화 정도를 파악할 수 있는 ' +
              '지표로 비율이 높을수록 징수노력이 높은 것을 의미' },
    {
      'id': 1,
      'title': '지방세 체납액 축소 노력도',
      'desc': '지방세 체납액의 연도별 변화 정도를 파악할 수 있는 지표로 체납액이 ' +
              '감소할수록 체납 지방세 관리 및 축소 노력이 높은 것을 의미' },
    {
      'id': 8,
      'title': '경상세외 수입 확충 노력도',
      'desc': '경상세외수입 확충의 성과를 파악할 수 있는 지표로, 지표값이 높을수록' +
              '경상세외수입 확충을 위한 자구노력 수준이 높은 것을 의미'},
    {
      'id': 2,
      'title': '세외수입 체납액 확충 노력도',
      'desc': '세외수입 체납액의 연도별 변화 정도를 파악할 수 있는 지표로 체납액이 ' +
              '감소할수록 체납 세외수입 관리 및 축소 노력이 높은 것을 의미'},
    {
      'id': 9,
      'title': '탄력세율 적용 노력도',
      'desc': '자치단체가 탄력세율을 활용하여 지방세를 추가로 확보할수록 자치단체의 ' +
              '세입확충 노력이 높은 것을 의미하고, 반대로 탄력세율을 활용하여 지방세가 ' +
              '감소한 경우 자치단체의 세입확충 노력이 낮은 것을 의미' },
    {
      'id': 3,
      'title': '인건비 절감 노력도',
      'desc': '자치단체의 예산절감 노력을 판단할 수 있는 지표로 총액인건비 기준액보다 ' +
              '실제 결산상 지출된 인건비가 적을수록 예산절감 노력이 높은 것으로 분석' },
    {
      'id': 4,
      'title': '지방의회 경비 절감 노력도',
      'desc': '자치단체가 지방의회를 운영하는데 소요되는 경비를 얼마나 절감하였는지를 ' +
              '판단 하는 지표로 지표값이 클수록 의회경비 절감노력이 높은 것을 의미' },
    {
      'id': 5,
      'title': '업무 추진비 절감 노력도',
      'desc': '총 예산 중 행사축제경비의 비중이 감소할수록 자치단체의 재정운영 절감노력이 ' +
              '높은 것으로 판단' },
    {
      'id': 6,
      'title': '행사 축제 경비 절감 노력도',
      'desc': '총 예산 중 민간이전경비의 비중이 감소할수록 자치단체의 재정운영 절감노력이 ' +
              '높은 것으로 판단' }
  ];
</script>
<script src="/js/graph/municipalities.js"></script>
