header {
  width: 1000px;
  height: 90px;
  margin: 30px auto; }
  header > .title {
    padding: 13px 0px;
    text-align: center; }
    header > .title img {
      width: 100%;
      height: 62px; }

body {
  background-color: #DFD8C8;
  font-family: 'Malgun Gothic', Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

#main {
  min-height: 550px; }

#main-menu {
  width: 1000px;
  margin: 0 auto; }
  #main-menu li {
    width: 500px;
    text-align: center;
    border-bottom: 5px solid #AFA590; }
    #main-menu li img {
      width: 40px;
      height: 40px; }
  #main-menu li.active {
    border-bottom: 5px solid #A56804; }

#searchform {
  text-align: center;
  margin-top: 50px; }
  #searchform > .search-area > input {
    width: 780px;
    height: 92px;
    margin: 0 auto;
    font-size: 3.4rem; }

.autocomplete-suggestions {
  background: #FFF;
  overflow: auto; }

.autocomplete-suggestion {
  font-size: 3.0rem;
  padding: 25px 5px;
  white-space: nowrap;
  overflow: hidden; }

.autocomplete-suggestion:hover {
  cursor: pointer; }

.autocomplete-selected {
  background: #F0F0F0; }

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #A56804; }

.autocomplete-group {
  padding: 2px 5px; }

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000; }

#provinces, #municipalities {
  width: 1000px;
  margin: 0 auto;
  height: 1000px;
  position: relative; }

#municipalities {
  height: 769.23077px; }

.map svg {
  position: absolute;
  left: 0; }
  .map svg .province:hover {
    fill: #A56804; }
  .map svg .province.province-selected {
    fill: #A56804; }

.share-buttons {
  width: 410px;
  position: absolute;
  top: 880px;
  right: 0px; }
  .share-buttons > .fb-like {
    margin-bottom: 6px; }

.graph {
  font-family: 'malgun gothic';
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 50px 0px;
  display: inline-block; }
  .graph .graph-description {
    padding: 13px;
    background-color: white; }
    .graph .graph-description > h3 {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -2px; }
    .graph .graph-description > p {
      color: #6E6E6E;
      letter-spacing: -1.5px; }
    .graph .graph-description > hr {
      color: #F4F4F4; }
  .graph .graph-region {
    font-size: 17px; }
  .graph > ul.nav.nav-tabs {
    width: 410px; }
    .graph > ul.nav.nav-tabs > li {
      z-index: 15;
      color: black;
      background-color: white;
      border-radius: 25px;
      border: 1px solid #E3E3E3; }
      .graph > ul.nav.nav-tabs > li > a {
        color: black; }
    .graph > ul.nav.nav-tabs > li.active {
      display: none;
      z-index: none; }
    .graph > ul.nav.nav-tabs > li:first-child {
      position: absolute;
      top: 290px;
      left: -25px; }
    .graph > ul.nav.nav-tabs > li:first-child:hover {
      cursor: pointer; }
    .graph > ul.nav.nav-tabs > li:last-child {
      position: absolute;
      top: 290px;
      right: -25px; }
  .graph .link-to-maingraph {
    position: absolute;
    bottom: 70px;
    height: 80px;
    width: 410px;
    background-color: #6794B7;
    color: white;
    font-size: 27px;
    padding: 22px;
    text-align: center; }
  .graph .link-to-maingraph:hover {
    cursor: pointer; }
  .graph .subgraph-info {
    position: absolute;
    width: 410px;
    height: 130px;
    bottom: -40px;
    background-color: #F0F0F0;
    color: #555555; }
    .graph .subgraph-info .icon {
      text-align: center;
      display: inline-block;
      float: left;
      padding-top: 6px;
      padding-left: 13px; }
      .graph .subgraph-info .icon > img {
        margin-top: 18px; }
    .graph .subgraph-info .description {
      display: inline-block;
      float: left;
      width: 341.66667px;
      font-size: 1.5rem;
      padding: 19px 10px;
      line-height: 20px; }
      .graph .subgraph-info .description > span {
        font-weight: bold; }
      .graph .subgraph-info .description > p {
        font-size: 1.2rem;
        line-height: 17px; }
  .graph .bar {
    fill: #ddad51;
    cursor: pointer; }
  .graph .bar-positive {
    fill: #A56804; }
  .graph .bar-negative {
    fill: #C3C3C4; }
  .graph .bar-additional {
    fill: #AD731A; }
  .graph .bar-highlight {
    cursor: pointer;
    fill: #C3C3C4; }
  .graph path.line {
    fill: none;
    stroke: #A56804;
    shape-rendering: crispEdges; }
  .graph path.domain {
    fill: none;
    shape-rendering: crispEdges; }
  .graph line.xAxis {
    stroke: #C3C3C4; }
  .graph #municipal-debt, .graph #municipal-effort {
    position: relative;
    height: 700px; }
    .graph #municipal-debt .subgraph, .graph #municipal-debt .subgraph-loading, .graph #municipal-effort .subgraph, .graph #municipal-effort .subgraph-loading {
      position: absolute;
      background-color: white;
      width: 410px;
      height: 550px; }
    .graph #municipal-debt .subgraph, .graph #municipal-effort .subgraph {
      z-index: 11; }
    .graph #municipal-debt .subgraph-loading, .graph #municipal-effort .subgraph-loading {
      z-index: 12;
      text-align: center; }
      .graph #municipal-debt .subgraph-loading > img.pin, .graph #municipal-effort .subgraph-loading > img.pin {
        margin-top: 220px;
        margin-bottom: 20px; }
    .graph #municipal-debt .subgraph-title, .graph #municipal-effort .subgraph-title {
      width: 100%;
      text-align: center;
      letter-spacing: -1px; }
    .graph #municipal-debt > svg, .graph #municipal-effort > svg {
      background-color: white; }
  .graph #municipal-debt .bar:hover {
    fill: #AD731A; }
  .graph #municipal-debt .subgraph {
    height: 510px; }
  .graph #municipal-effort .subgraph {
    height: 550px; }
  .graph #municipal-effort .subgraph-info {
    height: 140px;
    bottom: 0px; }
  .graph #municipal-effort .selectedEffortBar {
    opacity: 0.3;
    visibility: hidden; }
  .graph #municipal-effort .effort-title {
    font-size: 1.1rem; }
  .graph #municipal-effort .effort-value {
    font-size: 1.1rem; }

#main-municipality {
  background-color: #6593B8; }
  #main-municipality .title {
    color: white;
    font-size: 3.7rem;
    width: 1000px;
    height: 130px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0px; }
    #main-municipality .title > span {
      font-weight: bold; }
  #main-municipality > section {
    width: 1000px;
    margin: 0 auto;
    text-align: center; }
    #main-municipality > section > ul > li {
      width: 500px;
      color: #3F6E95;
      border-bottom: 5px solid #3F6E95; }
      #main-municipality > section > ul > li > a {
        font-size: 1.8rem;
        letter-spacing: -0.5px;
        color: #3F6E95; }
    #main-municipality > section > ul > li.active {
      border-bottom: 5px solid white; }
      #main-municipality > section > ul > li.active > a {
        color: white; }
  #main-municipality .main-graph-fixed {
    position: relative;
    height: 500px; }
    #main-municipality .main-graph-fixed .graph-region {
      display: none; }
    #main-municipality .main-graph-fixed .main-description {
      width: 1000px;
      height: 50px;
      font-size: 1.5rem;
      color: white;
      background-color: #6189A8;
      position: absolute;
      bottom: 60px;
      margin: 0 auto;
      padding: 15px 0px;
      opacity: 0.7; }
      #main-municipality .main-graph-fixed .main-description > span {
        font-weight: bold; }
    #main-municipality .main-graph-fixed > svg {
      background-color: #6593B8; }
      #main-municipality .main-graph-fixed > svg .bar {
        fill: #37658A; }
      #main-municipality .main-graph-fixed > svg .bar:hover {
        fill: #E3DDCF;
        cursor: pointer; }
      #main-municipality .main-graph-fixed > svg .bar-value, #main-municipality .main-graph-fixed > svg .bar-year {
        fill: #EFF4F7; }
      #main-municipality .main-graph-fixed > svg .axis text {
        fill: #37658A; }
      #main-municipality .main-graph-fixed > svg path.domain {
        fill: none;
        shape-rendering: crispEdges; }

#debt .main-graph-fixed line.xAxis {
  stroke: #37658A; }

#effort .main-graph-fixed .bar.bar-positive {
  fill: #E3DDCF; }
#effort .main-graph-fixed .bar.bar-positive:hover {
  fill: #37658A; }
#effort .main-graph-fixed .bar.bar-negative {
  fill: #37658A; }
#effort .main-graph-fixed text {
  fill: #EFF4F7;
  font-size: 1.3rem; }
#effort .main-graph-fixed text.effort-title {
  fill: #37658A;
  font-size: 1.3rem; }
#effort .main-graph-fixed .main-description {
  height: 80px;
  padding-top: 5px;
  padding-bottom: 5px; }
#effort .main-graph-fixed .selectedEffortBar {
  background-color: #7DA3C2;
  opacity: 0.3;
  visibility: hidden; }

footer {
  background-color: #656468;
  height: 230px;
  color: #cbcbcb; }
  footer > section.footer {
    width: 1000px;
    margin: 0 auto; }
    footer > section.footer > div.footer-col {
      width: 250px;
      display: inline-block;
      float: left; }
      footer > section.footer > div.footer-col > h4 {
        font-family: 'open sans';
        font-weight: bold;
        font-size: 1.6rem;
        color: #efefef; }
      footer > section.footer > div.footer-col a, footer > section.footer > div.footer-col a:hover {
        color: #cbcbcb; }
  footer > section.footer-desc {
    padding-top: 30px;
    padding-bottom: 20px; }

.nav-tabs > li > a:hover {
  background-color: transparent;
  border-color: transparent; }

.nav-tabs > li > a,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: transparent;
  border-color: transparent;
  outline: 0px;
  outline-offset: 0px; }

.form-control:focus {
  border-color: #A56804;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px RGBA(165, 104, 4, 0.6); }

/*# sourceMappingURL=styles.css.map */
